*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
/* .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    display: inline-block;
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
} */

.mlogo{
    font-size: x-large;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}



/* first row */
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Young Serif', serif; 
}
.col-2 p{
    font-family: 'DM Serif Display', serif;
}

.btn{
    display: inline-block;
    background:blue;
    color: white;
    padding: 8px 30px;
    border-radius: 300px;
    
}
.btn:hover{
    background: blueviolet;
}
.header{
    background: radial-gradient(rgb(91, 91, 212),white);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #344dbd;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform:translateY(-8px)
}

.offer{
    background: radial-gradient(rgb(91, 91, 212),white);
    margin-top: 80px;
    padding: 30px;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #000000;
}

/* --------testimonials------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.1);
    cursor: pointer;
    transition: transform 0.8;
}
.testimonial .col-3 img{
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;

}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 1;
}
/* ---------brands--------- */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
}
/* ------------footer--------- */
.footer{
    background: #041288;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer h1{
    color: #fff;
}
.footer-col-1, .footer-col-2{
    min-height: 250px;
    margin-bottom: px;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-1{
    flex-basis: 40%;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.app-logo img{
    width: 150px;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin: 20px;
}
/* ------------all products---------- */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    
}
select{
    border: 1px solid #041288;
    padding: 5px;
    
}
select:focus{
    outline: none;
}
.col2{
   text-align: end;
   
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #041288;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}
.page-btn span:hover{
    background: #041288;
    color: #fff;
}
/* -----------single-product-detials----- */

.single-product{
    margin: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid #041288;
    margin-top: 10px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color:#041288;
}

/* ------------product single details-------- */

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.col6{
    text-align: end;
}
.single-product .row{
    text-align: left;
}
.single-product h1{
    font-size: 26px;
    line-height: 22px;
}

/* -----------cart------------ */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}